@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "relative-faux";
  src: local("relative-faux"),
    url("./fonts/relative-faux.otf") format("opentype");
  font-weight: normal;
}

:root {
  --primary: #feba42;
  --primary-50: hsla(38, 99%, 63%, 0.3);
  --secondary: #5d4037;
  --ternary: #fff8e1;
  --meta: #ff9800;
  --true: rgba(124, 179, 66, 0.2);
  --false: rgba(211, 47, 47, 0.2);
  --veg: #7cb342;
  --nonVeg: #d32f2f;
  --line: rgba(93, 64, 55, 0.2);
  --gray: #777777;
  --relative: relative-faux, serif;
  --manrope: Manrope, sans-serif;
}

html,
body {
  background-color: var(--ternary);
  font-family: var(--relative);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--meta) ;
  border-radius: 200px;
  width:2px;
}

.no-scroller::-webkit-scrollbar-thumb {
  display: none;
}

.preserve-3d{
  transform-style : preserve-3d;
}
 
.backface-hidden{
  backface-visibility : hidden;
}

.rotate-y{
  transform : rotateY(180deg);
}

.rotate-y-180:hover{
  transform : rotateY(180deg);
}